/* Base Reset */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Lexend', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* UI Overlay Container */
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.title-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: 600;
    /* Semi-Bold */
    color: #000;
}